<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice sauce demo">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Smoke">
        <classes>
            <class name="smoke.HomePageTest"/>
            <class name="smoke.LoginPageTest"/>
        </classes>
    </test>

    <test name="Health">
        <classes>
<!--            <class name=""/>-->
        </classes>
    </test>
</suite>